@media screen and (max-width: 850px){
  
  .navbar {
    display: none;
  }

  .burger {
    position: fixed;
    right: 0px;
    top: 0px;
/*     background-color:#fff;
    border-left: solid 3px #fff;
    border-bottom: solid 3px #fff; */
    transition: ease 400ms;
    height: 50px;
    width: 50px;
    z-index:4;
  }
/*   .burger {
    position: fixed;
    right: -55px;
    top: -55px;
    background-color: white;
    border-radius: 50%;
    transition: ease 400ms;
    height: 110px;
    width: 110px;
    z-index:4;
  } */
  
  .burger-open{
    right: -300vh;
    top: -300vh;
    height: 600vh;
    width: 600vh;
    z-index: 2;
  }

  .bBar {
    position: fixed;
    background-color: black;
    border-radius: 2px;
    width:26px;
    height: 5px;
    margin: 4px;
    transition: 300ms;
    right: 5px;
    z-index:7;
  }

  .bar1{
    top:5px;
  }
  .bar2{
    top:14px;
  }
  .bar3{
    top:23px;
  }

  /* burger hover animation */

  #hover-box{
    position: fixed;
    width: 40px;
    height: 40px;
    top:0;
    right: 0;
    z-index: 20;
  }

  .burger-open .bar1{
    transform: translateY(9px);
    background-color:#333;
  }
  .burger-open .bar2{
    transition-delay: 0.2s;
    height:26px;
    border-radius: 50%;
    background:#333;
    border: solid #fff 4px;
    z-index: 6;
    transform: translateY(-45%);
    z-index: 11;
  }
  
  .burger-open .bar3{
    transform: translateY(-9px);
    background-color:#333;
  }

  .burger-open .burger{
    height:100vh;
    overflow-x:hidden;
  }
}