#impressum {
  display: none;
  top:0;
  padding: 4vw 10vw;
  background-color: var(--contact-bg-color);
  z-index:2;
  min-height: 100vh;
}

#close-btn-impressum{
  position: absolute;
  padding: 5px;
  right: 5vw;
  border: none;
  background-color: var(--contact-bg-color);
  font-size: 20px;
  transform: translateY(-4vw);
}

#close-btn-impressum:hover{
  border: none;
  background-color: black;
  border-radius: 5px;
  color: var(--contact-bg-color)
}

@media screen and (max-width: 850px){

  #impressum {
    padding: 10vw 10vw;
  }

  #impressum h2{
    font-size: 15px;
  }
  
  #close-btn-impressum{
    position: relative;
  }
}