section#contact{
  height: 93vh;
  background-color: var(--contact-bg-color);
  color: var(--projects-txt-color);
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#parallax{
  height: 86vh;
  width: 100%;
  background-image: url("../images/section-contact/IMG_2708.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}


#contact-last-part{
height:7vh;
display: flex;
justify-content: center;
align-items: center;
}

#contact-links{
  display: flex;
  width: 50vw;
  transition: 300ms;
  align-items: center;
  justify-content: space-between;
  font-family: disketMonoRegular;
  list-style: none;
}

#contact-links li:hover{
  font-family: disketMonoBold;
  font-weight: bolder;
}


@media screen and (max-width: 850px){
  section#contact{
    height: unset;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  #contact-links{
    width: 90vw;
  }

}

@media screen and (max-width: 400px){

  section#contact{
    height: 100vh;
  }

  #contact-last-part{
    height:150px;
  }

  #contact-links{
    flex-direction: column;
    height: 110px;
  }

}