section#me{
  background-color: #E0777D;
  display: grid;
  grid-template-columns: 5vw 5vw repeat(11, auto) 5vw;
  grid-template-rows: 10vw repeat(9, auto);
}

#me-header{
  grid-area: 2 / 2 / 2/ 4;
}
#me-robo-image{
  width:100%;
  grid-area: 4 / 1 / 8/ 8;
  transform: scaleX(-1);
}

#me-quote{
  padding-top: 20px;
  grid-area: 3 / 3 / 3/ 8;
  font-family: 'Roboto', sans-serif;
}

#me-image{
  grid-area: 2 / 9 / 5/ 14;
}
#me-image img{
 width: 100%;
}

#me-text{
  grid-area: 6 / 8 / 10/ 14;
}


@media screen and (max-width: 850px){

}

@media screen and (max-width: 400px){
  section#me{
    display: flex;
    flex-direction: column;
    padding:5vw;
    align-items: center;
    text-align: center;
  }

  #me-robo-image{
    display: none;
  }

  #me-image{
    padding: 20px 0;
  }

}