section#projects{
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
background-color: #8E3B46;
}
#projects-header{
  width: 80vw;
  margin-left: 10vw;
  color:white;
}

#projects-header h1{
  color: white;
  margin-top: 30px;  
}

#projects-header h2{
  color: white;
}

#projects-robo-image-container{

}

#projects-robo-image{
  height: 30vw;
  transform:rotate(75deg) scaleX(-1);
}
#projects-description{
  width: 30vw;
  color: white;
  margin:2vw;
}

#projects-video-preview{
  width: 30vw;
  height: 20vw;
  margin: 5vw;;
}

@media screen and (max-width: 850px){

}

@media screen and (max-width: 350px){

}