section#books{
background-color: var(--books-bg-color);
color: var(--projects-txt-color);
padding: 5vw;
justify-content: space-between;
align-items: center;

}

#text-container{
  padding-left:5vw;
  flex:4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#text-container p{
  color: var(--main-txt-color);

}

#books-image-desktop{
  flex: 2;
  padding-left:5vw;
}
#books-image-mobile{
  display: none;
}

section#books h1{
  color: var(--projects-txt-color);
  margin-bottom: 2vw;
  margin-left: -5vw;
}

@media screen and (max-width: 850px){
  section#books{
    flex-direction: column;
  }
  #books-image-desktop{
    display: none;
  }
  #books-image-mobile{
   display: block;
   margin: 20px 0;
   width:100%;
  }
  #text-container{
    text-align: center;
    padding:0;
  }
  section#books h1{
    margin-bottom: 10px;
    margin-left: 0;
}
}

@media screen and (max-width: 400px){


}