section#books{
background-color: var(--books-bg-color);
color: var(--projects-txt-color);
padding: 5vw;
justify-content: space-between;
align-items: center;

}

#text-container{
  padding-left:5vw;
  width:60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#text-container p{
  color: var(--main-txt-color);
}

#books-image-desktop{
  width:40%;
  padding-left:5vw;
}
#books-image-mobile{
  display: none;
}

section#books h1{
  color: var(--projects-txt-color);
  margin-bottom: 2vw;
  margin-left: -5vw;
}
#goggles-desktop{
  display:flex;
  justify-content: flex-end;
}

#goggles-desktop img{
  padding:10px;
}

#goggles{
  display: none;
}

@media screen and (max-width: 850px){
  section#books{
    flex-direction: column;
  }
  #books-image-desktop{
    display: none;
  }
  #books-image-mobile{
   display: block;
   margin: 20px 0;
   width:100%;
  }
  #text-container{
    padding:0;
    width:100%;
  }
  section#books h1{
    margin-bottom: 10px;
    margin-left: 0;
  }

  #goggles{
    display: flex;
    justify-content: flex-end;
  }

  #goggles img{
    margin-top:10px;
    width:50px;
    height:50px;
    transition: 200ms ease;
  }

}
