section#me{
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #E0777D;
  padding: 5vw;
}

#me-header{
  margin-top: 5vw;
}
#me-left-side{
  width: 54vw;
  flex:3;
  display: flex;
  flex-direction: column;
}

#me-quote{
  padding:20px 5vw;
  font-family: 'Roboto', sans-serif;
}

#me-robo-image{
  width: 100%;
  padding-left: 10vw;
  transform: scaleX(-1);
}

#me-image2{
  width: 36vw;
  flex:2;
  transform: scaleX(-1);
}

#me-text{
  margin-top: 5vw;
}


@media screen and (max-width: 850px){

}

@media screen and (max-width: 350px){

}