section#projects{
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
background-color: var(--projects-bg-color);
color: var(--projects-txt-color);
}

#projects-header{
  width: 80vw;
  margin-left: 5vw;
  margin-top: 5vw;

}

#projects-header h1{
  color: var(--projects-txt-color);
  margin-top: 30px;  
}

#projects-header h2{
  color: var(--projects-txt-color)
}

#projects-robo-image{
  height: 25vw;
  transform:rotate(75deg) scaleX(-1);
}
#projects-description{
  width: 30vw;
  color: var(--projects-txt-color);
  margin:2vw;
}

#projects-video-preview{
  width: 30vw;
  margin: 5vw;;
}

@media screen and (max-width: 850px){
  
  #projects-video-preview{
    width: 90vw;
    margin: 5vw;
  }
  #projects-robo-image{
    height: 39vw;
  }
  #projects-description{
    width: 60vw;
    margin-right: 5vw;
  }
}

@media screen and (max-width: 400px){
  section#projects{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  #projects-header{
    width: 90vw;
  }
  #projects-header h2{
    margin-left:5vw;
  }

  #projects-robo-image{
    height: 95vw;
    margin-left: -20vw;
  }
  #projects-description{
    width: 90vw;
    margin:0;
  }
}