section#home{
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 100vw;
  background-color: rgb(253, 224, 59);
  padding-top: 4vw;
  min-height: 100vh;
}

section#home h1{
  font-family: disketMonoBold;
  font-size: 5vw;
  margin-bottom:22vh;
}

#home-header{
  margin-top: 13vw;
  flex:1;
  display: flex;
  height: 100%;
  flex-direction: column;

}

#home-subheader{
  font-size: 1.5vw;
  margin-left: 20%;
}
#home-subheader h2{
  margin-bottom: 20px;
}

#home-image{
  flex:2;
  width: 50%;
}
#home-image-mobile{
display: none;
}

@media screen and (max-width: 850px){
  
  section#home h1{
    margin:5vh 0;
  }
  
  #home-subheader{
    font-size: 1.5vw;
    margin-left: 10%;
  }
}

@media screen and (max-width: 850px) and (orientation : portrait){
  
  section#home {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    min-height: 100vh;
  }
  
  section#home h1{
    margin-bottom:0;
    font-size: 50px;
  }
  
  #home-image{
    display: none;
  }

  #home-image-mobile{
  display: block;
  width: 90vw;
  }

  #home-header{
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }

  
  #home-subheader{
    font-size: 18px;
    margin: 5vh 0;
  }
  #home-subheader h2{
    margin-bottom: 0;
    animation: none !important;
    transform: none !important;
    transition-property: none !important;
    opacity: 1;
  }
}

@media screen and (max-width: 500px){
  section#home {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    height: 100vh;
  }
  
  section#home h1{
    margin-bottom:0;
    font-size: 50px;
  }
  
  #home-image{
    display: none;
  }

  #home-image-mobile{
  display: block;
  width: 90vw;
  }

  #home-header{
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
  }

  
  #home-subheader{
    font-size: 18px;
    margin-left: 0;
  }
  #home-subheader h2{
    margin-bottom: 0;
    animation: none !important;
    transform: none !important;
    transition-property: none !important;
    opacity: 1;
  }

}