section#home{
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 100vw;
  background-color: var(--home-bg-color);
  color: var(--projects-txt-color);
  padding-top: 4vw;
  min-height: 100vh;
}

section#home h1{
  font-family: disketMonoBold;
  font-size: 5vw;
  margin-bottom:22vh;
  flex:1;
}

#home-header{
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
  align-items: center;
}


#home-image-wrapper{
  flex:2;
  width: 100%;
  margin-left:-15vw;
}

#butterfly{
  position:absolute;
  width: 8vw;
  height: auto;
  transform: translate(-4vw, -4vw);
  transition: ease 1800ms;
  z-index:1;
  top: 30vh;
  left: 80vw;
}

.home-eye {
  position: relative;
}


#left-eye{
  transition: ease 200ms;
  width: 2.3vw;
  top: -48.3vw;
  right:-44.5vw;
}

#right-eye{
  transition: ease 200ms;
  width: 2.2vw;
  top: -48vw;
  right:-47.9vw;
}

#home-image{
  width: 100%;
}


#robo-hearts-wrapper{
  position: absolute;
  width:30vw;
  left:2.5vw;
  top: 20vw;
  height: 20vw;

/*   background-color: lightgray; */
}
.robo-heart{
  display:none;
  position: absolute;
}

#rh1{
  width:4vw;
  top:13vw;
  left:4vw;

}
#rh2{
  width:6vw;
  top: 7vw;
  left: 2vw;
}
#rh3{
  width:3vw;
  top: 0vw;
  left: 21vw;
}
#rh4{
  width:6vw;
  top: 0vw;
  left: 5vw;
}
#rh5{
  width:5vw;
  top: 0vw;
  left: 13vw;
}
#rh6{
  width:4vw;
  top: 5vw;
  left: 24vw;
}
#rh7{
  width:6vw;
  top: 10vw;
  left: 26vw;
}
#rh8{
  width:3vw;
  top: -6vw;
  left: 20vw;
}
#rh9{
  width:5vw;
  top: -7vw;
  left: 10vw;
}

.heart-active-1{
  display: block;
  animation-name: rise1;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.heart-active-2{
  display: block;
  animation-name: rise2;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.heart-active-3{
  display: block;
  animation-name: rise3;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes rise1 {
  0%   {width: 0px;}
  50%  {width: 5vw;}
  100% {transform: translateY(-80vh)}
}

@keyframes rise2 {
  0%   {width: 0px;}
  50%  {width: 4vw;}
  100% {transform: translateY(-80vh)}
}

@keyframes rise3 {
  0%   {width: 0px;}
  50%  {width: 6vw;}
  100% {transform: translateY(-80vh)}
}

#hoverbox{
  width: 25vw;
  height:22vw;
  opacity: 0;
  background-color: aqua;
  position: relative;
  left: 11vw;
  top: 30vw;
  z-index:2;
}
#hoverbox-mobile{
  display: none;
}


@media screen and (max-width: 1025px){

  #hoverbox-mobile{
    display:block;
    width: 19vw;
    height:25vw;
    opacity: 0;
    background-color: aqua;
    position: absolute;
    left: 11vw;
    top: 32vw;
    z-index:2;
  }
}


@media screen and (orientation: portrait){
  
  section#home {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    min-height: 100vh;
  }
  
  section#home h1{
    margin-bottom:0;
    margin-top:20vh;
    font-size: 50px;
  }
  
  
  #home-image{
  display: block;
  width: 90vw;
  }

  #home-header{
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    flex-direction: column;
  }
  
  #butterfly{
    top: 20vh;
    left: 80vw;
    width: 10vw;
  }

  #left-eye{
    transition: ease 300ms;
    display: block;
    width: 3.1vw;
    top: -66.2vw;
    right: -62vw;
  }
  
  #right-eye{
    transition: ease 300ms;
    display: block;
    width: 3.2vw;
    top: -69.2vw;
    right: -70.1vw;
  }

  #robo-hearts-wrapper{
    position: absolute;
    width:30vw;
    left:15vw;
    top: 58vw;
    height: 20vw;
  
  /*   background-color: lightgray; */
  }

  #rh1{
    width:4vw;
    top:43vh;
    left:-3vw;
  
  }
  #rh2{
    width:6vw;
    top: 37vh;
    left: -5vw;
  }
  #rh3{
    width:3vw;
    top: 30vh;
    left: -3vw;
  }
  #rh4{
    width:6vw;
    top: 30vh;
    left: 14vw;
  }
  #rh5{
    width:5vw;
    top: 30vh;
    left: 5vw;
  }
  #rh6{
    width:4vw;
    top: 30vh;
    left: 27vw;
  }
  #rh7{
    width:6vw;
    top: 40vh;
    left: 25vw;
  }
  #rh8{
    width:3vw;
    top: 24vh;
    left: 15vw;
  }
  #rh9{
    width:5vw;
    top: 25vw;
    left: 20vw;
  }
  
  .heart-active-1{
    display: block;
    animation-name: rise1;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  
  .heart-active-2{
    display: block;
    animation-name: rise2;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  
  .heart-active-3{
    display: block;
    animation-name: rise3;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes rise1 {
    0%   {width: 0px;}
    50%  {width: 5vw;}
    100% {transform: translateY(-85vh)}
  }
  
  @keyframes rise2 {
    0%   {width: 0px;}
    50%  {width: 8vw;}
    100% {transform: translateY(-85vh)}
  }
  
  @keyframes rise3 {
    0%   {width: 0px;}
    50%  {width: 10vw;}
    100% {transform: translateY(-85vh)}
  }
 
  #hoverbox{
    display: none;
  }

  #hoverbox-mobile{
    display: block;
    position: absolute;
    background-color: gold;
    width: 25vw;
    height:30vw;
    opacity: 0;
    left: 17vw;
    top: 67vh;
  }


}