section#home{
  flex-direction: row-reverse;
  align-items: flex-start;
  width: 100vw;
  background-color: rgb(253, 224, 59);
  padding-top: 4vw;

}

section#home h1{
  font-family: disketMonoBold;
  font-size: 5vw;
  margin-bottom:22vh;
}

#home-header{
  margin-top: 13vw;
  flex:1;
  display: flex;
  height: 100%;
  flex-direction: column;

}

#home-subheader{
  font-size: 1.5vw;
  margin-left: 20%;
}
#home-subheader h2{
  margin-bottom: 20px;
}

#home-image{
  flex:2;
  width: 50%;
}

@media screen and (max-width: 850px){

}

@media screen and (max-width: 350px){

}