section#education{
  background-color: #A6F4DC;
  flex-direction: row;
  align-items: flex-start;
}

#education-header{
  margin-left: -5vw;
  margin-bottom: 30px;
}

#education-text{
  width: 50vw;
  margin: 10vw 0 10vw 10vw;
}

#education-robo{
  width: 30vw;
  margin:50px 5vw;
}



@media screen and (max-width: 850px){
  section#education{
    background-color: #A6F4DC;
    flex-direction: row;
  }

}

@media screen and (max-width: 350px){

}