section#education{
  background-color: #A6F4DC;
  flex-direction: row;
  flex-wrap: wrap;

}

#education-header{
  margin-left: -5vw;
  width: 45vw;
  margin-bottom: 30px;
}

#education-text{
width: 45vw;
margin: 10vw 0 10vw 10vw;
}

#education-robo{
  width: 35vw;
  margin:0 5vw;

}

@media screen and (max-width: 850px){

}

@media screen and (max-width: 350px){

}