section#books{
background-color: #4C86A8;
padding: 10vw;
justify-content: space-between;

}

#text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10vw;
  margin-left: 5vw;
}

section#books img{
  width: 30vw;
  margin-right: 5vw;
}

section#books h1{
  color: white;
  margin-bottom: 2vw;
}

@media screen and (max-width: 850px){

}

@media screen and (max-width: 350px){

}